.wrapper-2 {
  height: 3518px;
  margin: 329px 0 0;
  position: relative;
  width: 1440px;
}
.vector-smart-object-double-click-to-edit-9 {
  left: 50%;
  position: absolute;
  top: 190px;
  margin-left: -720px;
}
.vector-smart-object-double-click-to-edit-10 {
  left: 50%;
  position: absolute;
  top: 1823px;
  margin-left: -720px;
}
.vector-smart-object-double-click-to-edit-11 {
  left: 50%;
  position: absolute;
  top: 597px;
  margin-left: 382px;
}
.col-18 {
  left: 50%;
  min-height: 734px;
  padding: 30px 15px 634px;
  position: absolute;
  top: 2784px;
  width: 603px;
  background: url(images/vector_smart_object_doubl_4.png) no-repeat;
  margin-left: 117px;
}
.email {
  font-size: 23.09128px;
}
.address {
  margin: 23px 0 0 1px;
  font-size: 23.09128px;
}
.vector-smart-object-double-click-to-edit-12 {
  left: 50%;
  position: absolute;
  top: 2184px;
  margin-left: -620px;
}
.address-icon {
  left: 50%;
  position: absolute;
  top: 2857px;
  margin-left: 76px;
}
.email-icon {
  left: 50%;
  position: absolute;
  top: 2817px;
  margin-left: 76px;
}
.phone-icon {
  left: 50%;
  position: absolute;
  top: 2770px;
  margin-left: 76px;
}
.phone-number {
  left: 50%;
  position: absolute;
  top: 2772px;
  font-size: 23.09128px;
  line-height: 23px;
  margin-left: 131px;
}
.body-text-13 {
  left: 50%;
  position: absolute;
  top: 2292px;
  width: 517px;
  line-height: 33.33333px;
  margin-left: 71px;
}
.headline {
  left: 50%;
  position: absolute;
  top: 2133px;
  font-size: 58.33333px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 60px;
  text-align: right;
  margin-left: 69px;
}
.group-6 {
  left: 50%;
  position: absolute;
  top: 736px;
  width: 1166px;
  margin-left: -566px;
}
.col-2 {
  float: left;
  margin: 0 36px 0 0;
  position: relative;
  width: 585px;
}
.text-3 {
  position: relative;
}
.title-3 {
  font-family: Audiowide, display;
  font-size: 58.33333px;
  letter-spacing: 0.1em;
  line-height: 66.66666px;
}
.body-text-14 {
  margin: 84px 0 0;
  line-height: 33.33333px;
}
.delivery {
  margin: 77px 148px 0 80px;
  font-size: 38.2632px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 76.5264px;
  text-align: center;
}
.body-text-15 {
  margin: 60px 112px 0 0;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: right;
}
.design-2 {
  margin: 26px 46px 0;
  position: relative;
}
.rectangle {
  float: left;
  height: 66px;
  margin: 0 30px 0 0;
  width: 206px;
  border: 3px solid #ffffff; /*stroke*/
}
.rectangle-2 {
  float: left;
  height: 66px;
  width: 206px;
  border: 3px solid #ffffff; /*stroke*/
}
.smartphone {
  float: left;
  margin: 156px 0 0;
  padding: 26px 0 72px;
  position: relative;
  width: 545px;
  background: url(images/vector_smart_object_doubl_10.png) no-repeat;
}
.image-2 {
  margin: 0 auto;
  min-height: 968px;
  padding: 128px 0 95px;
  position: relative;
  width: 449px;
  background: url(images/smartphone_place_holder.png) no-repeat;
}
.vector-smart-object-double-click-to-edit-13 {
  display: block;
  margin: 0 auto;
}
.body-text-16 {
  margin: 51px 0 0;
  font-family: Audiowide, display;
  font-size: 38.2834px;
  letter-spacing: 0.2em;
  line-height: 47.85425px;
  text-align: center;
}
.vector-smart-object-double-click-to-edit-14 {
  display: block;
  margin: 37px auto 0;
}
.button-holder {
  margin: 41px auto 0;
  max-width: 275px;
  min-height: 54px;
  padding: 0 0 0 20px;
  width: 275px;
  border: 1px solid #ffffff; /*stroke*/
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  font-size: 27.59884px;
  line-height: 54px;
  text-align: center;
  background-color: transparent;
  margin-left: 80px;
}
.group-5 {
  left: 50%;
  position: absolute;
  top: 0;
  width: 1298px;
  margin-left: -665px;
}
.vector-smart-object-double-click-to-edit-15 {
  float: left;
  margin: 30px 44px 0 0;
}
.col-3 {
  float: left;
  position: relative;
  width: 703px;
  z-index: 0;
}
.text-4 {
  margin: 0 0 0 2px;
  overflow: hidden;
  position: relative;
  z-index: 103;
}
.body-text-18 {
  font-family: Audiowide, display;
  font-size: 88.41301px;
  text-align: right;
}
.body-text-19 {
  margin: 68px 0 0;
  width: 694px;
  line-height: 33.33333px;
}
.body-text-20 {
  margin: 55px 0 0 60px;
  font-size: 27.59884px;
}
.body-text-20 {
  background-color: transparent;
  /* border: 1px solid white; */
  color: white; /* Optional: set text color to white */
  padding: 8px 16px;/* Add transition effect for hover */
  position: relative;
  top: 1rem;
}

/* .body-text-20:hover {
  background-color: #ffffff;
  color: #000000;
} */

.button-4 {
  height: 54px;
  margin: -39px 0 0;
  position: relative;
  width: 275px;
  z-index: 97;
  border: 1px solid #ffffff; /*stroke*/
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
}